<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <title>Demo - Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="kyussfia">
        <link rel="stylesheet" type="text/css" th:href="@{/css/centralform.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    </head>

    <body class="text-center">
        <form class="form-central" th:action="@{/login}" method="POST">
            <div th:if="${failure}">
                <div class="mb-4 alert alert-danger">
                    Invalid credentials!
                </div>
            </div>
            <div th:if="${logout}">
                <div class="mb-4 alert alert-success">
                    You have been logged out!
                </div>
            </div>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            <div th:if="${captcha}">
                <img th:src="*{'data:image/png;base64,'+captchaPicture}"  alt="captcha image" src=""/>
                <label for="captcha" class="sr-only">Captcha</label>
                <input type="text" name="captcha" id="captcha" class="form-control" placeholder="Captcha" autocomplete="off" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020 @kyussfia</p>
            <a class="btn btn-md btn-warning btn-block" th:href="@{/registration}">Register</a>
        </form>
    </body>
</html>